@font-face {
    font-family: Norse-Bold;
    src: url(../Project-Sign-up-Form/fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Norse-Bold, sans-serif;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.imagebanner {
    background-image: url(./imgs/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 33vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagebanner a{
    color: white;
    text-decoration: underline;
    text-align: center;
}

.imagebanner p{
    font-size: 12px;
}

.imagefooter {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center; 
}

.semi-transparent {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);

}

.logo {
    height: 40vh;
    display: flex;
    align-items: flex-end;
}

.fillbox {
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 233, 235);
    width: 67vw;
}

.paragraphbox{
    height: 33vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 5%;
}

.formbox {
    background-color: white;
    height: auto;
    font-size: 12px;
    box-shadow: 2px 5px #E5E7EB;
}

#letsdothis {
    margin-left: 50px;
    margin-top: 50px;
}

.formmain {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    width: 50%;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px; 
}

input {
    width: 200px;
    height: 25px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus {
    border: 1px solid blue;
    outline: none;
} 

input:invalid:focus {
    border: 1px solid red;
}
  
input:focus:valid {
    border: 1px blue solid;
}


label {
    font-size: 10px;
    color: gray;
}

#error {
    color:red;
    font-size: 10px;
    margin: 2px;
}

.submitbtn {
    background-color: darkgreen;
    color: white;
    border: 1px solid darkgreen;
    border-radius: 10px;
    height: 35px;
    width: 150px;
    box-shadow: 2px 5px #E5E7EB;
}

.buttonbox {
    margin-top: 30px;
    margin-left: 50px;
    height: 33vh;
}

.login {
    margin-top: 30px;
}

a {
    color: darkgreen;
    text-decoration: none;
    font-weight: low;
}

